<ion-header>
  <ion-navbar>
    <ion-title>
      Hello Prabhjot 
      Welcome to your App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>
  <!-- <div appGlobe [options]="globeOptions" [data]="globeData" (select)="onSpikeSelect($event)"></div> -->

<div class="text-white">
    <div class="row">
      
        <div class="col-xs-12 col-sm-12" style="padding-top:10px;text-align:center;">
            <span class="subHeader"><img class="logo-img" src='./assets/imgs/Honeywell-logo-2015_RGB_Red-sm.png'> Sentience Operations Center</span>
        </div>
     
    </div>
    <div class="row stat-info" [style.paddingLeft.%]="7">
        <div class="col-xs-12 col-sm-12">
            <span class="rectangle">Device Status</span>
        </div>
        <br />
        <br />
        <div class="col-xs-12 col-sm-12">
        
            <div [ngClass]="checkDataLength(summery.value)" *ngFor="let summery of deviceSummary">
                <h1 *ngIf="isNull(summery.units)" class="high-pixels"></h1>
                <h1 *ngIf="!isNull(summery.units)" class="high-pixels"></h1>
                <sup class="min-view" *ngIf="!isNull(summery.units)">{{trimUnit(summery.units)}}</sup>
                <div *ngFor="let label of formatKpiLabel(summery.connectedDeviceLabel)">
                    {{label}}
                </div>                
            </div>
        </div>
    </div>
</div>

<div class="pop" *ngIf="spikeData">
    <b>Latitude:</b> {{spikeData.lattitude}}<br/>
    <b>Longitude:</b> {{spikeData.longitude}}<br/>
    <b>Devices:</b> {{spikeData.deviceCount}}
</div>

  <button ion-button color="secondary" block (click)="showAlert()">Show Prompt Alert</button>
</ion-content>
